@import "fonts.css";

body {
  color: #eee;
  background: #1b244a;
  font-family: "Cursed Timer", sans-serif;
  text-transform: uppercase;
}

.page {
  width: 1200px;
  margin: 70px auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header img {
  width: 60px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

section {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winning {
  color: #fbbf24;
}

.winning .score {
  border: 2px solid #fbbf24;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.score {
  background: #080001;
  width: 200px;
  height: 120px;
  padding: 15px;
  border-radius: 5px;

  font-size: 5.625rem;
  line-height: 0.8;
  color: #f94f6d;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.score-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border: 2px solid #9aabd8;

  color: #9aabd8;
  cursor: pointer;
}

.score-btn {
  width: 45px;
  height: 45px;

  font-size: 1.125rem;
}

button:hover {
  color: #fbbf24;
  border-color: #fbbf24;
}

.score-btn:active {
  scale: 0.95;
}

h3 {
  font-size: 1.625rem;
  margin: 60px 0 15px;
}

.fouls {
  background: #080001;
  width: 115px;
  height: 90px;
  padding: 15px;
  border-radius: 5px;

  font-size: 4rem;
  line-height: 0.8;
  color: #f94f6d;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.add-foul {
  width: 80px;
  height: 45px;
  margin-top: 15px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

section:has(.time) {
  margin-top: 75px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.time-span {
  background: #080001;
  width: 140px;
  height: 120px;
  padding: 15px;
  border-radius: 5px;
  color: #f94f6d;
}

.period {
  background: #080001;
  width: 60px;
  height: 90px;
  margin-top: 50px;

  padding: 15px;
  border-radius: 5px;
  color: #f94f6d;
  font-size: 4rem;
}

.game-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: 50px;
}

.game-btn {
  width: 200px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
