@import "fonts.css";

body {
  color: #eee;
  background: #1b244a;
  font-family: "Cursed Timer", sans-serif;
}

.page {
  width: 800px;
  margin: 70px auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header img {
  width: 60px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.score {
  background: #080001;
  width: 200px;
  height: 120px;
  padding: 15px;
  border-radius: 5px;

  font-size: 5.625rem;
  line-height: 0.8;
  color: #f94f6d;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
